<tr>
  <td>
    <%= form.hidden_field :_destroy %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= form.text_field :name %></td>
  <td><%=form.select :field_type,Field::FIELD_TYPES.map {|type| [type.humanize,type]}%></td>
</tr>