<!-- app/views/shared/_bootstrap_table.html.erb -->
<% theme_class = current_user&.light_theme ? 'table-light' : 'table-dark' %>

<%= button_to "Toggle Theme", toggle_theme_path, method: :post, remote: true %>


<table class="table <%= theme_class %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Last Sign In At</th>
      <th>Status</th>
      <th>Role</th>
      <th>Light_theme?</th>
    </tr>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>
