<!-- app/views/shared/_bootstrap_table.html.erb -->
<table class="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Last Sign In At</th>
      <th>Status</th>
      <th>Role</th>
      <th>Light_theme?</th>
    </tr>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>
